$body-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$link-color: #8c8c8c;
// $body-background-color: $red-000
$sidebar-color: #f6f6f6;
$feedback-color: $sidebar-color;
$body-heading-color: #000;

.site-header { background-color: #000 !important; }
.site-title:hover { background-image: none !important; }
.site-button:hover { background-image: none !important; background-color: #fff; }

$btn-primary-color: #fd5750;
$base-button-color: $sidebar-color;

.nav-list-link.active {
  border-left: 1px solid #fd5750;
}

.black-box {
  display: block;
  padding: 10%;
  background-color: #000;
  border-radius: 1em;
}